<!DOCTYPE html>
<html>
<head>
    <title>qrcode generator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    body{
      background: url("static/bg.jpg");
      height: 100vh;
      width: 100%;
      object-fit: contain;
      
    }
    .body-container {
      height: 80vh
    }
  </style>
  
</head>
<body class=" text-light">
   <div class="container">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="static/logo-no-background.png" alt="logo" width="100" class=" img-fluid d-inline-block align-text-top">
        Bootstrap
      </a>
    </div>
  </nav>


     <div class=" body-container flex-column d-flex align-items-center justify-content-center">
       <div class="body-text ">
         <h1 class="text-capitalize mb-4">welcome to qrcode Generator</h1>
       </div>
       <div class="body-button">
         <a href="/form" type="button" class="btn btn-outline-warning">Generate</a>
         
       </div>
       
     </div>

 </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>